MASTODON_CLIENT_ID={MASTODON_CLIENT_ID}
MASTODON_CLIENT_SECRET={MASTODON_CLIENT_SECRET}
MASTODON_AUTH_TOKEN={MASTODON_AUTH_TOKEN}
MASTODON_BASE_API={MASTODON_BASE_API}
KAFKA_SERVER={KAFKA_SERVER}
KAFKA_TOPIC={KAFKA_TOPIC}
